= simple_form_for([@course, @lesson]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title, input_html: { autocomplete: 'off' }
    = f.input :content, as: :rich_text_area
    %p
    = f.input :video, as: :file, input_html: { class: 'form-control-file form-control' }
    - if @lesson.video.attached?
      = f.hint @lesson.video.filename.to_s
      = link_to 'Remove video and thumbnail', delete_video_course_lesson_path(@course, @lesson), method: :delete, data: { confirm: 'Are you sure?' }
    = f.input :video, as: :file, input_html: { class: 'form-control-file form-control' }
    - if @lesson.video_thumbnail.attached?
      = f.hint @lesson.video_thumbnail.filename.to_s
    -# Для того чтобы урок создавался для конкретного курса. Значение либо получаем из параметров или id курса
    -# Ассоциация вызывает ошибку
    -# = f.input :course_id, input_html: {value: @lesson.course_id || params[:course_id]}, as: :hidden

  .form-actions
    = f.button :submit, class: 'mt-3'