- content_for :title do
  = @lesson.title

.ol.breadcrumb
  .li.breadcrumb-item
    = link_to 'Courses', courses_path
  .li.breadcrumb-item
    = link_to @lesson.course.title, course_path(@lesson.course)
  .li.breadcrumb-item.active
    = @lesson.title

= render 'lessons/lesson', lesson: @lesson

= link_to 'Back to course', course_path(@course)
