- content_for :title do
  = @course.title

.ol.breadcrumb
  .li.breadcrumb-item
    = link_to 'Courses', courses_path
  .li.breadcrumb-item.active
    = @course.title
%p
.row
  .col-lg-6
    = render 'courses/course', course: @course
  .col-lg-6
    - if policy(@course).owner?
      = link_to new_course_lesson_path(@course, @lesson), class: 'd-grid gap-2' do
        .btn.btn-primary
          Add lesson
    %p
    - @lessons.each do |lesson|
      = render 'lessons/lesson', lesson: lesson